<%- include('partials/header') %>

<h1>This is the homepage!</h1>

<img src="https://upload.wikimedia
.org/wikipedia/commons/thumb/9/96/The_Garden_of_earthly_delights.jpg/550px-The_Garden_of_earthly_delights.jpg">

<%- include('partials/footer') %>
