<!--we will turn this into its own partial template-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo App</title>

    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
<!--partial template will stop here-->

<!--this content will be changeable-->
<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>Good Choice! Rusty is the best!</p>
<% } else { %>
    <p>Bad Choice! You should have said Rusty.</p>
<% } %>

<p>P.S. this is love.ejs file!</p>


<!--partial template starts here-->
</body>
</html>
<!--partial template ends here-->

