<%- include('partials/header') %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>Good Choice! Rusty is the best!</p>
<% } else { %>
    <p>Bad Choice! You should have said Rusty.</p>
<% } %>

<p>P.S. this is love.ejs file!</p>

<%- include('partials/footer') %>
