<% if (info && info.length > 0) { %>
    <div class="alert alert-info" role="alert">
        <%= info %>
    </div>
<% } %>
<% if (warning && warning.length > 0) { %>
    <div class="alert alert-warning" role="alert">
        <%= warning %>
    </div>
<% } %>