<h1>This is the SECRET PAGE!!!!</h1>

<p>You found me!</p>

<img src="/images/embarrasingPic.jpeg"
     alt="Kristin trying to do a squat with Chad on her shoulders. The
        background has been changed to the sun. It's very silly looking.">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
