<!--SHOW PAGE-->

<%- include('partials/header') %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="Image of <%= campground.name %>">

<p><%= campground.description %></p>

<% campground.comments.forEach((comment) => { %>
     <p>
         <strong><%= comment.author %></strong> - <%= comment.text %>
     </p>
<% }); %>

<%- include('partials/footer') %>
