body {
    background-color: #232323;
    margin: 0;
    font-family: 'Montserrat', 'Avenir';
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;    /* make it work in safari */
    -moz-transition: background 0.6s;       /* make it work in mozilla firefox */
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: white;
    line-height: 1.1;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 17%;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;    /* make it work in safari */
    -moz-transition: all 0.3s;       /* make it work in mozilla firefox */
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
}
