<%- include('partials/header') %>

<div class="container">
    <header class="jumbotron"> <!--works like a div, but calling it header has symantic meaning-->
        <!--this container keeps text from shifting all the way to the left edge of thejumbotron-->
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p>
                <!--link to new campground form-->
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>


    <div class="row">
        <div class="col-lg-12">
            <h3>Our Most Popular Campgrounds!</h3>
        </div>
    </div>

    <!--display a grid of all the campgrouds-->
    <!--style tag makes bootstrap figure out the minimum height needed to display all the image
    sizes and use that, so the grip displays properly and doesn't leave gaps-->
    <div class="row" style="display: flex; flex-wrap: wrap">
        <% campgrounds.forEach(function (campground) { %>
            <!--xs automatically uses 12, so don't have to specify-->
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image; %>">
                    <div class="caption text-center">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer') %>
