<!--NEW COMMENT PAGE-->

<%- include('../partials/header') %>

<div class="container">

    <div class="row">
        <h1 style="text-align: center">Add a New Comment to <%= campground.name %></h1>

        <div style="width:30%; margin: 25px auto; ">
            <form action="/campgrounds/<%= campground._id %>/comments" method="post">
                <div class="form-group">
                    <!--                    <label>         *** adding this tag messes up the bootstrap styling, but
                                                                            jetbrains wants it-->
                    <input class="form-control" type="text"
                           placeholder="text"
                           name="comment[text]">        <!--nests text inside comment-->
                    <!--                    </label>-->
                </div>
                <div class="form-group">
                    <!--                    <label>-->
                    <input class="form-control" type="text"
                           placeholder="author"
                           name="comment[author]">      <!--nests author inside comment-->
                    <!--                    </label>-->
                </div>
<!--            with text and author nested, we can just reference comment and get both-->
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary" type="submit">
                        Submit!
                    </button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>