/*font-family*/
p{
    font-family: "Raleway"; /*can have quotes around font name...will need them if it starts with a number for example*/
}
h1{
    font-family: "Indie Flower";
}

/*font-size*/
body{
    font-size: 10px;
}
h1{
    font-size: 10.0em; /*em is dynamic... this is 5 times the height of the 10px setting above*/
}
p{
    font-size: 2.0em;
}
span{
    font-size: 2.0em;
}

/*font-weight*/
p{
    font-weight: normal; /*can be set by numbers ranging from 100-800*/
}
P:nth-of-type(2){
    font-weight: bold;
}

/*line-height*/
p{
    line-height: 1.5;
}

/*text-align*/
h1{
    text-align: right;
}
p{
    text-align: center;
}

/*text-decoration*/
p{
    text-decoration: underline;
}
h1{
    text-decoration: line-through;
}
