img{
    width: 30%;
    margin: 1.66%;
    float: left;
}
p{
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
}