/*this version takes code from https://codepen.io/ppalyga/pen/PWBKQd to make the app work with*/
/*entries that are longer than 40 characters*/

body {
    font-family: Roboto, sans-serif;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    background: rgb(194, 12, 94);
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

label input {
    font-size: 18px;
    color: rgb(194, 12, 94);
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

label input:focus {
    background: white;
    border: 3px solid rgb(194, 12, 94);
    outline: none;
}

.entry {
    background: white;
    color: #666;
    margin:0;
    padding: 0;
    height: 100%;
    min-height: 40px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.entry:nth-child(2n) {
    background: #f7f7f7;
}

.text {
    margin: auto 0;
    height: 100%;
    padding: 5px 40px 5px 30px;
    word-wrap: break-word;
    cursor: default;
    max-width: 95%;
    box-sizing: border-box;
}

.trash {
    background: #d11531;
    min-width: 0;
    width: 0;
    text-align: center;
    color: white;
    margin-right: 20px;
    opacity: 0;
}

.trash:hover {
    min-width: 40px;
    transition: 0.5s linear;
    opacity: 1.0;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

#plus-minus-icons {
    float: right;
}
