<!--LOGIN FORM-->

<%- include('./partials/header') %>

<h1>Login</h1>

<form method="post" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>

<%- include('./partials/footer') %>
